
  ul {
  color: black;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;

  }
  a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }

  a.about {


  }

  a:hover {
    border-bottom: 0.5px solid;
  }
  .responsive {
    max-width: 100%;
    height: auto;
  }

  .googleimage {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    width: 50%;
    
  }

  .mainnav {
    margin: 0 auto;
    position: relative;
    display: left;
    color: black;
    text-align: middle;
    font-size: 14px;
    width: 25%;
    top: 260px;
    left: 620px;
    border-radius: 10x;
  }
  
  .round {
    width: 100%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  } */
   
  .corner {
    position: absolute;
    top: 3px;
    left: 5px;
    height: 20px;
    width: 20px;
    z-index: 10;
    border-radius: 10px;
    border: none;
    background: #000; 
  }
  
  .search {
    position: relative;
    width: 190px;
    height: 30px;
  }