
  ul {
  color: black;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  position: relative;

  }

  .upper-left {
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
    
  }

  .upper-right {
    list-style-type: none;
    position: absolute;
    top: 0;
    right: 0;
  }

  a {
    text-decoration: none;
    color: rgb(39, 38, 38);
    font-size: 15px;
    font-family: sans-serif;
  }
  
  ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    bottom: 180px;
    left: 20px;
  }
  
  li {
    float: left;
    padding: 20px;
  }
  
  li a {
    display: block;
  }

  .footer {
    list-style-type: none;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .footer2 {
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right:0;
  }


  a:hover {
    border-bottom: 1px solid;
  }

  
  .responsive {
    max-width: 100%;
    height: auto;
  }

  .googleimage {
    left: 0;
    line-height: 200px;
    margin-top: -180px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
  }

  .round {
    border-radius: 40px;
    border: 1px rgb(226, 226, 226) solid;
    padding: 10px 10px 15px 50px;
    position: absolute;
    margin-top: 0;
    position: absolute;
    text-align: left;
    top: 53%;
    width: 40%;
    left: 450px;
  }
  input:hover {
    box-shadow: 0px 1px 1px grey;
  }
  
  /* .round input {
    position: absolute;
    height: 50px;
    width: 50px; 
  }

 
   
  .corner {
    position: relative;
    top: 3px;
    left: 5px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: none;
    background: #000; 
  }
  
  .search {
    position: relative;
    width: 190px;
    height: 50px;
  }
  